{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GoClean | Laundry</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/assets/css/slicknav.css">
    <link rel="stylesheet" href="/static/assets/css/flaticon.css">
    <link rel="stylesheet" href="/static/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/static/assets/css/gijgo.css">
    <link rel="stylesheet" href="/static/assets/css/animate.min.css">
    <link rel="stylesheet" href="/static/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/static/assets/css/slick.css">
    <link rel="stylesheet" href="/static/assets/css/nice-select.css">
    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>

<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="static\assets\img\logo\go.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <!-- Logo -->
                <div class="header-left">
                    <div class="logo">
                        <img src="static\assets\img\logo\go.jpg" width="120" height="80">
                    </div>
                    <div class="menu-wrapper  d-flex align-items-center">
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li class="active"><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'contact' %}">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="header-right d-none d-lg-block">
                    <a href="tel:+2349033742859" class="header-btn1"><img src="static/assets/img/icon/call.png"
                            alt="">+2349033742859</a>
                    <a href="https://wa.me/message/ZW5Z7R5T4NN2O1" class="header-btn2"><i
                            class="fab fa-whatsapp"></i></a>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? Hero Start -->
        <div class="slider-area2 section-bg2 hero-overly" data-background="/static/assets/img/hero/hero2.png">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2">
                                <h2>Order Recieved!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!--? Blog Area Start-->
        <!-- Hero End -->
        <!--? About Area  -->
        <section class="about-area2 section-padding40">
            <div class="container">
                <div class="check">
                    <i class="fas fa-check-circle"></i>
                    <p> Thank You </p>
                </div>
            </div>
        </section>
        <!-- About Area End -->
        <!--? Services Area Start -->
        <section class="services-area border-bottom pb-20 mb-60">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <span class="element">Our Process</span>
                            <h2>This is how we work</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="static/assets/img/icon/services-icon1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">We collect your clothes</a></h5>
                                <p>This is where it all starts</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="static/assets/img/icon/services-icon2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">Wash your clothes</a></h5>
                                <p>The Washing is done professionally and with care to prevent damage</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center">
                            <div class="cat-icon">
                                <img src="static/assets/img/icon/services-icon3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">Get delivery</a></h5>
                                <p>Delivery is done to desired locaation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services End -->
        <!--? Want To work -->
        <section class="container">
            <section class="wantToWork-area" data-background="static/assets/img/gallery/section_bg01.png">
                <div class="wants-wrapper w-padding2">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-xl-8 col-lg-9 col-md-7">
                            <div class="wantToWork-caption wantToWork-caption2">
                                <h2>Call us for a service</h2>
                                <p>We deliver the goods to the most complicated places on earth</p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-5">
                            <a href="" class="btn wantToWork-btn"><img src="static/assets/img/icon/call2.png" alt="">
                                Learn More</a>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <!-- Blog Area End -->
    </main>
    <footer>
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <!-- logo -->
                                <div class="footer-logo mb-35">
                                    <a href=""><img src="static\assets\img\logo\go.jpg" alt="" width="200"
                                            height="100"></a>
                                </div>
                                <div class="footer-tittle">
                                    <div class="footer-pera">
                                        <p>You don't have to worry about doing your tedious laundry. You can do it from the
                                            comfort of your Home with GoClean Laundry</p>
                                    </div>
                                </div>
                                <!-- social -->
                                <div class="footer-social">
                                    <a href="https://wa.me/message/ZW5Z7R5T4NN2O1"><i class="fab fa-whatsapp"></i></a>
                                    <a href="https://instagram.com/goclean_laundry_ng"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Services </h4>
                                <ul>
                                    <li><a href="">- Dry Cleaning</a></li>
                                    <li><a href="">- Dry Clean</a></li>
                                    <li><a href="">- Ironing Services</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
    <!-- JS here -->

    <script src="./static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="./static/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="./static/assets/js/popper.min.js"></script>
    <script src="./static/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="./static/assets/js/jquery.slicknav.min.js"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="./static/assets/js/owl.carousel.min.js"></script>
    <script src="./static/assets/js/slick.min.js"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="./static/assets/js/wow.min.js"></script>
    <script src="./static/assets/js/animated.headline.js"></script>
    <script src="./static/assets/js/jquery.magnific-popup.js"></script>

    <!-- Date Picker -->
    <script src="./static/assets/js/gijgo.min.js"></script>
    <!-- Nice-select, sticky -->
    <script src="./static/assets/js/jquery.nice-select.min.js"></script>
    <script src="./static/assets/js/jquery.sticky.js"></script>

    <!-- counter , waypoint,Hover Direction -->
    <script src="./static/assets/js/jquery.counterup.min.js"></script>
    <script src="./static/assets/js/waypoints.min.js"></script>
    <script src="./static/assets/js/jquery.countdown.min.js"></script>
    <script src="./static/assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="./static/assets/js/contact.js"></script>
    <script src="./static/assets/js/jquery.form.js"></script>
    <script src="./static/assets/js/jquery.validate.min.js"></script>
    <script src="./static/assets/js/mail-script.js"></script>
    <script src="./static/assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script src="./static/assets/js/plugins.js"></script>
    <script src="./static/assets/js/main.js"></script>

</body>

</html>